* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }

header {
  border-bottom: 2px solid #a1c181;
  padding: 4% 0%;
}

#page {
  width: 100%;
  margin: auto;
}

footer {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 11vh;
  width: 94%;
  padding: 0% 3%;
  border-top: 2px solid #a1c181;
}

.div1 {
  padding: 4.8% 7% 1.8%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div1 a {
  width: 42%;
}

.div2 {
  padding: 4.8% 18%;
  padding-bottom: 200px;
}

.menu{
  margin: 5% 0% 12%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  overflow: hidden;
}

.menu img{
  width: 100%;
  transition-duration: 1.5s;
}

.div2 img{
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.wrap{
  position: relative;
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 6.5em;
}

h2{
  font-weight: 700;
  font-size: 4em;
  padding-bottom: 3%;
  color: #353535;
}

h3 {
  font-size: 3.5vw;
  font-weight: 400;
  border-radius: 0.3em;
  padding: 1.3% 7.5% 1.3%;
}

footer a {
  font-size: 3em;
  font-weight: 500;
}

.proch{
  padding-bottom: 200px;
}

.load span{
  width: 0.4em;
  height: 0.4em;
  margin: 0 5px; 
  background-color: #fdcb46;
  border-radius: 50%;
  display: inline-block;
  animation: points 2s infinite ease-in-out;
}

header a , footer a , h3{
  color: #fdcb46;
}

footer a{
  display: block;
}

h3, footer , header {
  background-color:#579c87;
}

a {
  text-decoration: none;
  outline: 0;
}

 /*2.ATTRIBUTS FLEX
..................*/

  .d-flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .flex-vertical {
    flex-direction: column;
  }

  .flex-horizontal {
    flex-direction: row;
  }

  /* Animation */

  footer a:hover , footer a:active{
    animation: shake .2s ease-in-out infinite;
  }

  @keyframes shake{
    0% {transform: rotate(0deg) translate(-0px,-0px)}
    25% {transform: rotate(-2deg) translate(-5px,-5px)}
    50% {transform: rotate(2deg) translate(-5px,-5px)}
    100% {transform: rotate(0deg) translate(-0px,-0px)}  
  }

  .menu img:hover, menu img:active{
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    opacity: 0.7;
  }

  @keyframes points{
    50%{opacity: 0; transform: scale(0.7) translate(10px)}
  }

  .load span:nth-child(2){
    animation-delay: .4s;
  }

  .load span:nth-child(3){
    animation-delay: .8s;
  }

  .hover-wrap{
    background-color: transparent;
    position: absolute;
    height: 3vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .hover-anim {
    display: inline-block;
    position: relative;
    width:100%;
    height: 100%;
  }

  .hover-anim::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3d1319;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-anim:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .hover-1{
    width: 8vw;
    top: 19vw;
  }
  
  .hover-2{
    width: 14vw;
    top: 42.5vw;
  }
  
  .hover-3{
    width: 17vw;
    top: 61.5vw;
  }

  .hover-4{
    width: 22vw;
    top: 21.8vw;
  }


  .hover-5{
    width: 16.5vw;
    top: 41.5vw;
  }
  
  .hover-6{
    width: 20vw;
    top: 61.3vw;
  }

  .hover-7{
    width: 17vw;
    top: 21.8vw;
  }


  .hover-8{
    width: 15.5vw;
    top: 40.2vw;
  }
  
  .hover-9{
    width: 15.5vw;
    top: 58vw;
  }

  .hover-10{
    width: 7vw;
    top: 22vw;
  }


  .hover-11{
    width: 13vw;
    top: 40.2vw;
  }
  
  .hover-12{
    width: 14vw;
    top: 58vw;
  }