h1 {
    font-weight: 900;
    font-size: 5em;
  }
  
  h2{
    font-weight: 700;
    font-size: 2.5em;
    padding-bottom: 3%;
    color: #353535;
  }

  h3 {
    font-size: 5vw;
  }

  footer{
    height: 8vh;
  }

  footer a{
      font-size: 1.9em;
  }
  
  .proch{
      padding-bottom: 130px;
  }

  .div2 {
    padding: 4.8% 11%;
    padding-bottom: 120px;
  }

  .hover-anim::after {
    height: 1.5px;
  }

  .hover-1{
    width: 10vw;
    top: 24vw;
  }
  
  .hover-2{
    width: 16vw;
    top: 53vw;
  }
  
  .hover-3{
    width: 20vw;
    top: 77vw;
  }

  .hover-4{
    width: 22vw;
    top: 29vw;
  }


  .hover-5{
    width: 16.5vw;
    top: 41.5vw;
  }
  
  .hover-6{
    width: 20vw;
    top: 61.3vw;
  }

  .hover-7{
    width: 17vw;
    top: 21.8vw;
  }


  .hover-8{
    width: 15.5vw;
    top: 40.2vw;
  }
  
  .hover-9{
    width: 15.5vw;
    top: 58vw;
  }

  .hover-10{
    width: 7vw;
    top: 22vw;
  }


  .hover-11{
    width: 13vw;
    top: 40.2vw;
  }
  
  .hover-12{
    width: 14vw;
    top: 58vw;
  }