  h1 {
    font-weight: 900;
    font-size: 5em;
  }

  h2 {
    font-weight: 700;
    font-size: 2.5em;
    padding: 5% 0% 0%;
  }

  h3,
  .menu3 h3,
  .menu4 h3 {
    padding: 2% 0% 5%;
    font-size: 8vw;
  }

  h4 {
    font-size: 5vw;
  }

  h5 {
    font-size: 5vw;
  }

  footer {
    height: 8vh;
  }

  footer a {
    font-size: 1.9em;
  }

  .proch {
    padding-bottom: 130px;
  }

  .div2 {
    margin: 4.8% 5% 20%;
  }


  .plat,
  .prix {
    width: 100%;
    text-align: center;
  }

  /* menu la note enchantée */

  .note1 {
    width: 90px;
    height: 90px;
  }

  .t1 img {
    width: 20%;
  }

  /* mise en page relative à différents menus */

  .menu1 li,
  .repet {
    font-size: 5vw;
  }

  .menu2 h4 {
    font-size: 4.5vw;
  }

  .menu3 li,
  .menu4 li,
  .menu2 li {
    font-size: 4vw;
  }

  .t2 img {
    width: 20%;
  }

  .menu2 .prix,
  .menu3 .prix,
  .menu4 .prix
  {
    text-decoration: solid underline ;
  }
